input {
  color: white;
  padding: 15px;
  font-size: 1.1em;
  border: 0;
  width: 100%;
  height: 50px;
  background: #604e67;
}

button {
  background: #3b2154;
  color: white;
  border: 0;
  padding: 15px;
  border-radius: 5px;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  &:disabled {
    opacity: .5;
  }

  &:hover {
    background: #401b64;
  }
}

.bg {
  height: 100%;
  background-image: url('../../assets/img/login-bg.jpg');
  background-size: cover;
}

.wrapper {
  background-color: rgba(37, 6, 53, 0.5);
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;


  .userdata {
    padding: 15px;

    label {
      color: white;
      text-transform: uppercase;
      font-size: 0.8em;
      padding-bottom: 5px;
    }

    input {
      margin-bottom: 15px;
    }
  }
}

.form-group {
  margin-bottom: 15px;
}

.link {
  font-size: 0.8em;
  cursor: pointer;
  color: rgba(255, 255, 255, .7);
  font-weight: bold;

  &:hover {
    color: rgba(255, 255, 255, 1);
  }
}
