<div class="wrapper">
  <form (ngSubmit)="signUp($event)">
    <div class="configs" *ngIf="false">
      <div style="display: flex;align-items: center">
        <label class="switch" (click)="onEnableUser()">
          <input type="checkbox" name="enabled" [(ngModel)]="form.enabled">
          <span class="slider round"></span>
        </label>
        <label style="margin-left: 10px;">Enabled</label>
      </div>
      <div style="display: flex;align-items: center">
        <label class="switch" (click)="onSetAdminUser()">
          <input type="checkbox" name="admin" [(ngModel)]="form.admin">
          <span class="slider round"></span>
        </label>
        <label style="margin-left: 10px;">Admin</label>
      </div>
    </div>
    <div class="userdata">
      <div class="form-group">
        <label for="input-name">Name</label>
        <input type="text" id="input-name" name="name" required [(ngModel)]="form.name"/>
      </div>
      <div class="form-group">
        <label for="input-name">Email</label>
        <input type="email" id="input-email" name="email" [(ngModel)]="form.email"/>
      </div>
      <div class="form-group">
        <label for="input-name">Password</label>
        <input type="password" id="input-password" name="password" [(ngModel)]="form.password"/>
      </div>
      <div>
        <br>
        <button type="submit">Finalizar Cadastro</button>
      </div>
      <div class="bottom-actions">
        <a [routerLink]="'/signin'">Sign In</a>
      </div>
    </div>
  </form>
</div>
