<div class="wrapper" [ngClass]="isUserLoggedIn ? '' : 'template-401'">
  <app-modal
    [title]="'Atenção'"
    (answer)="onAnswer($event)"
    *ngIf="isModalOpened">
    Deseja sair do sistema?
  </app-modal>
  <header>
    <div class="brand">
      Espelho de ponto <span class="badge">v1.0</span>
    </div>
    <div class="search">
      <input type="text" placeholder="O que você procura?"/>
    </div>
    <div class="actions">
      <div (click)="confirmLogout()" class="action">
        <i class="fa fa-sign-out fa-fw fa-2x"></i>
      </div>
    </div>
  </header>
  <aside>
    <app-aside-menu></app-aside-menu>
  </aside>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>

  </footer>
</div>
