.aside-menu-container {
  padding: 30px 15px;
}

label {
  opacity: .2;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  line-height: 40px;
}

ul {
  min-width: 250px;
  list-style-type: none;

  li {
    line-height: 25px;
  }
}

.badge {
  font-size: 0.8em;
  background: #73b042;
  border-radius: 50%;
  padding: 2.5px 5px;
  color: white;
}
